<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flugdaten</title>
</head>
<body>
    <h1>Flugdaten</h1>
<table border="1">
    <tr>
        <th>Flugnummer</th>
        <th>Abflugzeit</th>
        <th>Ankunftzeit</th>
        <th>Fluggesellschaft</th>
    </tr>
    {% for plane_model, flight_data in data.items() %}
        <tr>
            <td>{{ flight_data['Flugdaten']['flugnummer'] }}</td>
            <td>{{ flight_data['Flugdaten']['abflugzeit'] }}</td>
            <td>{{ flight_data['Flugdaten']['ankunftzeit'] }}</td>
            <td>{{ flight_data['Flugdaten']['fluggesellschaft'] }}</td>
        </tr>
        {% endfor %}
</table>

</body>
</html>